extends init/layout
block css-injects
  +css-injects()
block body
  body
    include partials/preloader
    .main-wrapper
      include partials/sidebar
      .sections-wrapper
        include partials/home
        +home('bubble')
        include partials/about
        include partials/services
        include partials/tickers
        //- include partials/portfolio
        include partials/testimonials
        //- include partials/blog
        //- include partials/contact
        include partials/footer
block scripts
  include init/footer-content
