/*----------- Services -----------*/

.services-area {
  .single-service {
    text-align: center;
    padding: 38px 24px;
    margin-bottom: 30px;
    transition: $transition;
    background-color: #fff;
    border: 1px solid rgba(214, 214, 214, 0.8);

    .service-icon {
      font-size: 50px;
      margin-bottom: 22px;
      display: inline-block;
    }

    .service-title {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: -0.5px;
      margin-bottom: 12px;
      color: #333;
    }

    .service-description {
      margin-bottom: 0;
    }
  }
}

.lightbox-wrapper {
  background-color: #fff;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  & > .container > .row {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .lightbox-close {
    position: fixed;
    top: 25px;
    right: 4vw;
    z-index: 99;

    .close-btn {
      @include open-btn();
      @include close-btn();

      .btn-line,
      &:before,
      &:after {
        background-color: rgba(#000, 0.6);
        height: 2px;
        width: 80%;
      }
    }
  }
}
