+nl()
// About
section#about-area.single-section.about-area
  .container
    .row
      .col-12
        .section-heading
          h2.section-title About me
          //- p.section-description Get to know me
    .row.align-items-center
      +nl()
      // Picture part
      .col-12.col-lg-5.about-img
        img.img-fluid.img-thumbnail(src='img/top.jpg', alt='About Picture', style='filter: blur(0px); opacity: 0.8')
      +nl()
      // Content part
      .col-12.col-lg-7.about-content
        .content-block
          //- h2.content-subtitle Who am i?
          h6.content-title I'm Viola, and I provide
            +spc
            b Financial Advising
            +spc
            | and
            +spc
            b Mortgage Brokering
            +spc
            | services.
          .content-description
            p
              | [Intro]
          address.content-info
            .row
              .col-12.col-md-6.single-info
                span Name:
                p Viola Cai
              .col-12.col-md-6.single-info
                span Email:
                p
                  a(href='mailto:daniel@example.com') [email]
            .row
              .col-12.col-md-6.single-info
                span Expertises:
                p Personal Wealth Management, Mortgate Brokering, Insurance, Canadian Government Benefits
              .col-12.col-md-6.single-info
                span Location:
                p Vancouver, BC, Canada
          a.btn.content-download.button-main.button-scheme(href='#0', role='button') LinkedIn
          //- a.btn.content-work.button-main(data-scroll='', href='#portfolio-area', role='button') Case Studies
