+nl()
// Hire
section#hire-area.single-section.element-cover-bg.hire-area(style=`background-image:url(img/hire.jpg)`)
  .container
    .row.row-custom
      .col-12.col-md-8.content-part
        h1.hire-title Index
      //-   p.hire-description I am available for freelance projects. Hire me and get your project done.
      .col-12
        .carouselTicker
          ul.carouselTicker__list
            li.carouselTicker__item DJIA&#40;
              span.bullish 42063.36&#41;
            li.carouselTicker__item Nasdaq&#40;
              span.bearish 17948.32&#41;
            li.carouselTicker__item S&amp;P&nbsp;500&#40;
              span.bullish 5702.55&#41;
            li.carouselTicker__item Russell&nbsp;2000&#40;
              span.bullish 2227.89&#41;
            li.carouselTicker__item NYSE&#40;
              span.bullish 19373.74&#41;
            li.carouselTicker__item Barron&#40;
              span.bullish 1219.69&#41;
            //- repeated
            li.carouselTicker__item DJIA&#40;
              span.bullish 42063.36&#41;
            li.carouselTicker__item Nasdaq&#40;
              span.bearish 17948.32&#41;
            li.carouselTicker__item S&amp;P&nbsp;500&#40;
              span.bullish 5702.55&#41;
            li.carouselTicker__item Russell&nbsp;2000&#40;
              span.bullish 2227.89&#41;
            li.carouselTicker__item NYSE&#40;
              span.bullish 19373.74&#41;
            li.carouselTicker__item Barron&#40;
              span.bullish 1219.69&#41;
      //- .col-12.col-md-4.button-part
      //-   a.btn.hire-btn.button-main.button-scheme(data-scroll='', href='#contact-area', role='button') Contact me
