+nl()
// Services
section#services-area.single-section.alt-bg.services-area
  .container
    .row
      .col-12
        .section-heading
          h2.section-title My Services
          p.section-description How I help individuals to achieve their financial freedoms and goals
    .row
      +nl()
      .col-12.col-md-6.col-lg-4
        .single-service
          i.icon.service-icon.ion-ios-trending-up
          h6.service-title Wealth Management
          p.service-description
            | [Short Intro]
      +nl()
      .col-12.col-md-6.col-lg-4
        .single-service
          i.icon.service-icon.ion-md-home
          h6.service-title Mortgage Brokering
          p.service-description
            | [Short Intro]
      //- +nl()
      //- .col-12.col-md-6.col-lg-4
      //-   .single-service
      //-     i.icon.service-icon.ion-logo-ionic
      //-     h6.service-title Customer Support
      //-     p.service-description
      //-       | Lorem ipsum dolor sit amet,  consectetur adipisicing elit.
      //- +nl()
      //- .col-12.col-md-6.col-lg-4
      //-   .single-service.mb-lg-0
      //-     i.icon.service-icon.ion-logo-wordpress
      //-     h6.service-title Web Development
      //-     p.service-description
      //-       | Lorem ipsum dolor sit amet,  consectetur adipisicing elit.
      //- +nl()
      //- .col-12.col-md-6.col-lg-4
      //-   .single-service.mb-md-0
      //-     i.icon.service-icon.ion-md-move
      //-     h6.service-title Fully Responsive
      //-     p.service-description
      //-       | Lorem ipsum dolor sit amet,  consectetur adipisicing elit.
      //- +nl()
      //- .col-12.col-md-6.col-lg-4
      //-   .single-service.mb-0
      //-     i.icon.service-icon.ion-ios-rocket
      //-     h6.service-title Branding
      //-     p.service-description
      //-       | Lorem ipsum dolor sit amet,  consectetur adipisicing elit.
