+nl()
// Services
section#services-area.single-section.alt-bg.services-area
  .container
    .row
      .col-12
        .section-heading
          h2.section-title My Services
          p.section-description How I help individuals to achieve their financial freedoms and goals
    .row
      +nl()
      .col-6
        a.single-service(href='#modal-wealth')
          i.icon.service-icon.ion-ios-trending-up
          h6.service-title Wealth Management
          p.service-description
            | [Short Intro]
      +nl()
      .col-6
        a.single-service(href='#modal-mortgage')
          i.icon.service-icon.ion-md-home
          h6.service-title Mortgage Brokering
          p.service-description
            | [Short Intro]
  #modal-wealth.lightbox-wrapper
    .f-basis-100
      .lightbox-close(data-modal-close)
        span.close-btn
          span.btn-line
    .container
      .row
        | [wealth detail]
  #modal-mortgage.lightbox-wrapper
    .f-basis-100
      .lightbox-close(data-modal-close)
        span.close-btn
          span.btn-line
    .container
      .row
        | [mortgage detail]