+nl()
// Hire
section#hire-area.single-section.element-cover-bg.hire-area(style=`background-image:url(img/hire.jpg)`)
  .container
    .row.row-custom
      .col-12.col-md-8.content-part
        h1.hire-title Prime Rates
      //-   p.hire-description I am available for freelance projects. Hire me and get your project done.
      .col-12
        .carouselTicker
          ul.carouselTicker__list
            li.carouselTicker__item TD&#40;
              span.bullish.td_rate 
              | &#41;
            li.carouselTicker__item RBC&#40;
              span.bullish.rbc_rate 
              | &#41;
            li.carouselTicker__item CIBC&#40;
              span.bullish.cibc_rate
              | &#41;
            li.carouselTicker__item BMO&#40;
              span.bullish.bmo_rate
              | &#41;
            li.carouselTicker__item Scotiabank&#40;
              span.bullish.scotiabank_rate
              | &#41;
            li.carouselTicker__item National&#40;
              span.bullish.national_bank_rate
              | &#41;
            //- repeated
            li.carouselTicker__item TD&#40;
              span.bullish.td_rate 
              | &#41;
            li.carouselTicker__item RBC&#40;
              span.bullish.rbc_rate 
              | &#41;
            li.carouselTicker__item CIBC&#40;
              span.bullish.cibc_rate
              | &#41;
            li.carouselTicker__item BMO&#40;
              span.bullish.bmo_rate
              | &#41;
            li.carouselTicker__item Scotiabank&#40;
              span.bullish.scotiabank_rate
              | &#41;
            li.carouselTicker__item National&#40;
              span.bullish.national_bank_rate
              | &#41;
      //- .col-12.col-md-4.button-part
      //-   a.btn.hire-btn.button-main.button-scheme(data-scroll='', href='#contact-area', role='button') Contact me
