@import "../init";

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/*----------- Table of Contents -----------*/

/**
 * Globals
 * Preloader
 * Sidebar
 * Home
 * About
 * Services
 * Hire
 * Portfolio
 * Testimonials
 * Blog
 * Contact
 * Footer
 */

@import "partials/globals";
@import "partials/preloader";
@import "partials/sidebar";
@import "partials/home";
@import "partials/about";
@import "partials/services";
@import "partials/hire";
@import "partials/portfolio";
@import "partials/testimonials";
@import "partials/blog";
@import "partials/contact";
@import "partials/footer";
